@media (max-width: 1023px) and (min-width: 768px) {

    #wrap {
        width: 768px;
        margin: 0 auto;
        overflow-x: hidden;
    }
    
    .top-bg-wrap {
        position: relative;
    }

    #header-wrap {
        width: 100%;
    }

    #side-contents-wrap {
        width: 100%;
    }

    #side-menu-wrap {
        display: none;
    }

    #contents-wrap {
        float: none;
        margin: 0 auto;
        padding: 27px 0 0 0;
    }

    footer {
        text-align: center;
    }

    #footer-wrap {
        width: 768px;
        display: inline-block;
    }

    #footer-wrap > div {
        display: block;
    }

    #footer-wrap > div + div {
        margin: 0;
    }

    .date {
        left: 15px;
    }

    #search-btn-wrap {
        bottom: 50%;
        transform: translateY(50%);
        right: -480px;
        transition: .35s;
    }

    .menu-btn {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .menu-btn span {
        display: block;
        position: absolute;
        width: 80%;
        height: 3px;
        border-radius: 30px;
        background: #b7b7b7;
        transition: all .2s;
    }

    .menu-btn span:nth-child(1) {
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu-btn span:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-btn span:nth-child(3) {
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    #side-menu-wrap {
        display: block;
        height: 100%;
        position: fixed;
        top: 63px;
        right: -215px;
        z-index: 30;
        transition: .35s;
        background: #fff;
    }

    input[id="menu-icon"]:checked ~ header .menu-btn {
        z-index: 2;
    }

    input[id="menu-icon"]:checked ~ header .menu-btn span:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    input[id="menu-icon"]:checked ~ header .menu-btn span:nth-child(2) {
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    input[id="menu-icon"]:checked ~ header .menu-btn span:nth-child(3) {
        bottom: 50%; 
        left: 50%; 
        transform: translate(-50%, 50%) rotate(-45deg);
    }

    input[id="menu-icon"]:checked ~ #side-contents-wrap #side-menu-wrap {
        top: 63px;
        right: -7px;
    }

    input[id="menu-icon"]:checked ~ header #search-btn-wrap {
        right: 50px;
        bottom: 50%;
        transform: translateY(50%);
    }

    input[id="menu-icon"]:checked ~ #side-contents-wrap #contents-wrap {
        opacity: .3;
    }
}

@media (max-width: 767px) and (min-width: 320px) {

    #wrap {
        padding: 0 10px;
    }
    
    .top-bg-wrap {
        position: relative;
    }

    .banner-wrap-1 {
        width: 100%;
        margin: 0;
    }

    .banner-wrap-2 > div {
        float: none;
    }

    .banner-wrap-1 > .box-wrap:nth-child(even) {
        margin: 14px 0 0 0;
    }

    .box-wrap > .box-181x162:nth-child(even) {
        margin-left: 10px;
    }

    .box-wrap > .box-181x162:first-child, 
    .box-wrap > .box-181x162:nth-child(2) {
        margin-bottom: 9px;
    }
    
    .banner-wrap-2 > div:nth-child(even) {
        margin-left: 0;
    }

    .banner-wrap-2 > div:first-child, 
    .banner-wrap-2 > div:nth-child(2) {
        margin: 14px 0 0 0;
    }

    .box-wrap {
        width: 100%;
        height: 100%;
        float: none;
    }

    .box-373x334 {
        width: 100%;
        height: 100%;
    }

    .box-373x141 {
        width: 100%;
        height: 113px;
    }

    .box-181x162 {
        width: 48%;
        height: 130px;
    }

    .box-373x334 > a > img {
        width: 100%;
    }

    .box-373x113 {
        width: 100%;
        height: 91px;
        background-size: 100%;
    }

    .box-373x113 > ul {
        margin-top: 3px;
        padding-left: 15px;
    }    

    .box-373x113 > h2 {
        padding: 23px 0 0 20px;
    }

    .talktalk-wrap > h2,
    .idea-wrap > h2 {
        background-position: 20px 10px;
        margin: 14px 0 0 0;
    }

    .board-more {
        top: 10px;
        right: 10px;
    }

    .box-373x113 > ul > li > a > span {
        right: 8px;
        font-size: 10px;
    }

    .box-373x113 > ul > li:last-child > a > span {
        font-size: 10px;
        right: 8px;
    }

    .hi-contents {
        height: 90px;
    }

    .ct-1 {
        background-size: 160px;
    }

    .box-373x334 > a:hover .ct-1 {
        background-size: 160px;
    }

    .top-19 > img {
        width: 90px;
    }

    .top-39 > img:nth-child(1) {
        top: 3px;
        left: 10px;
    }

    .top-39 > img:nth-child(2) {
        width: 70px;
    }

    .title-position {
        top: 3px;
        left: 20px;
    }

    .more-position {
        top: 5px;
    }

    .box > a {
        width: 145px;
        height: 130px;
    }

    .livetalk,
    .CnT,
    .interview,
    .office-bc {
        background-size: 145px;
    }

    .hotissue-wrap,
    .hi-title,
    .livepoll-wrap,
    .lp-title {
        background-size: 300px;
    }

    .vote-btn-wrap {
        top: 5px;
        right: 5px;
    }

    .hoti-txt {
        width: 145px;
        top: 35px;
        left: 20px;
    }

    .person-position {
        right: 27px;
        width: 100px;
    }

    #header-wrap {
        width: 100%;
        height: 62px;
        text-align: left;
        position: fixed;
        left: 0;
        padding-left: 10px;
        z-index: 30;
        background-color: #fff;
    }

    .date {
        bottom: 0;
    }

    .top-logo > h1 > a > img {
        width: 180px;
        height: 51px;
    }

    #side-contents-wrap {
        width: 100%;
        position: relative;
    }

    #side-menu-wrap {
        display: none;
    }

    #contents-wrap {
        width: 100%;
        float: none;
        padding: 90px 0 0 0;
    }

    footer {
        text-align: center;
    }

    #footer-wrap {
        width: 320px;
        display: inline-block;
    }

    #footer-wrap > div {
        display: block;
    }

    #footer-wrap > div + div {
        margin: 0;
    }

    .date {
        top: 5px;
        left: 10px;
    }

    .search-mb-input {
        font-size: 14px;
    }

    #search-btn-wrap {
        display: none;
    }

    .menu-btn {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .menu-btn span {
        display: block;
        position: absolute;
        width: 80%;
        height: 3px;
        border-radius: 30px;
        background: #b7b7b7;
        transition: all .2s;
    }

    .menu-btn span:nth-child(1) {
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu-btn span:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-btn span:nth-child(3) {
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    #side-menu-wrap {
        display: none;
    }

    #side-menu-320-wrap {
        position: relative;
    }

    .search-area {
        margin: 10px 0 0 0;
        border: 1px solid #999999;
        background-color: #fff;
    }

    .date {
        position: relative;
        left: 0;
        padding-left: 22px;
        color: #070707;
    }

    .none-visible {
        display: none;
    }

    .search-area-wrap {
        margin-top: 5px;
        padding: 0 20px;
    }

    .menu-320-wrap > li {
        width: 100%;
        height: 31px;
        line-height: 30px;
        text-align: center;
        background: url('../img/sidemenu/menu-bg.png') left 0 repeat-x;
    }
    
    .menu-320-wrap > li:first-child,
    .menu-320-wrap > li:nth-child(5) {
        height: 40px;
        background: none;
    }

    .menu-320-wrap > li:first-child > span,
    .menu-320-wrap > li:nth-child(5) > span {
        display: block;
        line-height: 40px;
        font-size: 0;
    }

    .menu-320-wrap > li:first-child > span {
        background: url('../img/sidemenu/newszone-bg.png') center center no-repeat;
        background-color: #153e94;
    }

    .menu-320-wrap > li:nth-child(5) > span {
        background: url('../img/sidemenu/openareatong.png') center center no-repeat;
        background-color: #b0ce01;
    }

    .menu-320-wrap > li > a {
        display: block;
        height: 100%;
        font-size: 15px;
        color: #6a728b;
    }

    #side-menu-320-wrap {
        display: block;
        position: fixed;
        top: -263px;
        z-index: 10;
        height: 200px;
        width: 100%;
        transition: .45s;
        background: #e7e7e7;
        overflow: scroll;
    }

    .lp-contents {
        height: 90px;
    }

    .lp-txt-wrap {
        top: 21px;
    }

    .lp-txt-wrap > img:nth-child(1) {
        width: 110px;
    }

    .lp-txt-wrap > img:nth-child(2) {
        width: 100px;
    }

    .lp-txt-wrap > img + img {
        margin-top: 10px;
    }

    input[id="menu-icon"]:checked ~ header .menu-btn {
        z-index: 2;
    }

    input[id="menu-icon"]:checked ~ header .menu-btn span:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    input[id="menu-icon"]:checked ~ header .menu-btn span:nth-child(2) {
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    input[id="menu-icon"]:checked ~ header .menu-btn span:nth-child(3) {
        bottom: 50%; 
        left: 50%; 
        transform: translate(-50%, 50%) rotate(-45deg);
    }

    input[id="menu-icon"]:checked ~ #side-contents-wrap #side-menu-320-wrap {
        display: block;
        top: 63px;
        left: 0;
    }

    input[id="menu-icon"]:checked ~ header #search-btn-wrap {
        right: 50px;
        bottom: 50%;
        transform: translateY(50%);
    }

    input[id="menu-icon"]:checked ~ #side-contents-wrap #contents-wrap {
        opacity: .3;
    }

    .more-position {
        top: -3px;
        right: 10px;
    }
    
    .vote-btn-wrap > a {
        display: inline-block;
    }
}