.input-left {
    background: url('../img/top/cz-input-left.png') left center no-repeat;
    padding-left: 7px;
}

.input-right {
    background: url('../img/top/cz-input-right.png') right center no-repeat;
    padding-right: 2px;
}

.input-mid {
    background: url('../img/top/cz-input-mid.png') center center repeat-x;
}

.newszone-banner > a {
    display: block;
    background: url('../img/sidemenu/news-zone-title.png') 0 0 no-repeat;
    width: 204px;
    height: 44px;
    background-size: 204px auto;
    overflow: hidden;
}

.sm-list-wrap > li {
    overflow: hidden;
}

.sm-list-wrap > li:first-child > a {
    display: block;
    background: url('../img/sidemenu/todaynews.png') 0 0 no-repeat;
    width: 204px;
    height: 48px;
    padding-top: 48px;
    background-size: 204px auto;
}