.input-left {
    background: url('../img/top/cz-input-left.png') left center no-repeat;
    padding-left: 7px;
}

.input-right {
    background: url('../img/top/cz-input-right.png') right center no-repeat;
    padding-right: 2px;
}

.input-mid {
    background: url('../img/top/cz-input-mid.png') center center repeat-x;
}

.sm-banner {
    height: 43px;
    overflow: hidden;
}

.sect-rline {
    background: url('../img/sidemenu/side-sect-r-line.png') right top repeat-y;
}

.sm-banner > a {
    display: block;
    width: 204px;
    height: 44px;
    padding-top: 44px;
    background-size: 204px auto;
    overflow: hidden;
}

.newszone-banner > a {
    background: url('../img/sidemenu/news-zone-title.png') 0 0 no-repeat;
}

.openarea-banner > a {
    background: url('../img/sidemenu/open-area-title.png') 0 0  no-repeat;
}

.ht-31 {
    height: 31px;
    padding-top: 32px;
}

.sm-list-wrap > li {
    overflow: hidden;
}

.nz-list-wrap > li  {
    height: 31px;
}

.nz-list-wrap > li:first-child {
    height: 48px;
}

.sm-list-wrap > li > a{
    display: block;
    width: 204px;
    background-size: 204px auto;
}

.nz-list-wrap > li:first-child > a {
    background: url('../img/sidemenu/todaynews.png') 0 0 no-repeat;
    height: 48px;
    padding-top: 49px;
}

.nz-list-wrap > li:nth-child(2) > a {
    background: url('../img/sidemenu/daily.png') 0 0 no-repeat;
}

.nz-list-wrap > li:nth-child(3) > a {
    background: url('../img/sidemenu/data-room.png') 0 0 no-repeat;
}

.oa-list-wrap > li {
    height: 46px;
}

.oa-list-wrap > li > a {
    background: url('../img/sidemenu/hot-issue.png') 0 0 no-repeat;
    height: 46px;
    padding-top: 47px;
}

.oa-list-wrap > li:nth-child(2) > a {
    background: url('../img/sidemenu/talktalk.png') 0 0 no-repeat;
}

.oa-list-wrap > li:nth-child(3) > a {
    background:  url('../img/sidemenu/livepoll.png') 0 0 no-repeat;
}

.oa-list-wrap > li:nth-child(4) > a {
    background: url('../img/sidemenu/idea.png') 0 0 no-repeat;
}

.box {
    background-color: #ececec;
}

.box-373x334 {
    width: 373px;
    height: 334px;
}

.box-181x162 {
    width: 181px;
    height: 162px;
}